<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="https://fonts.googleapis.com/css?family=Revalia|Sofadi+One" rel="stylesheet">
  <title></title>

</head>
<body>
  <img class="background" src="http://www.v3wall.com/wallpaper/1920_1080/0910/1920_1080_20091028043548113677.jpg">
<div class="contact-container">
  <%= link_to "Contact", '/contact', :class => 'contact'%>
</div>
<div class="main-container">
  <div class="image-container">
    <img class="image" src="./images/founder.JPG">
  </div>
  <div class="description-container">
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
    Expedita repudiandae, itaque ad harum dicta quo doloribus<br> distinctio
    nisi cum perspiciatis nulla alias est commodi ut, <br>eos quam tenetur.
    Error, repudiandae.</p><br>
  </div>


  <div class="enter-container">
  <div class="shadder-inner"></div>
    <%= link_to "Click To Enter", modelling3ds_path, :class => 'enter'%>
  </div>


</div>
<%= stylesheet_link_tag "landpage"%>
</body>
</html>
